body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #000000;
}

.sidebar {
    width: 20%;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 2%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .nav-links a{
    margin-bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border: 5px solid #000; /* Border color and thickness */ 
    border-radius: 50%;
}

.logo-image:hover {
    width: 50px;
    transition: 1s;
}

.line{
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 0;
    width: 80%;
}

.nav-links {
    flex-grow: 1;
}

.nav-links a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 1em;
    transition: background 0.3s;
}

.nav-links a:hover {
    font-size: 20px;
    padding-left: 10px;
    color: gold;
    transition: 0.6s;
}

.nav-links i {
    margin-right: 10px;
}

.righties {
    display: flex;
    width: 78%;
    margin-left: 22%;
    flex-direction: column;
    color: black;
    background-color: aqua;
}

.righties .top {
    width: 98%;
    height: auto; 
    animation: gradientAnimation 20s infinite;
    background: linear-gradient(45deg,  black, rgb(138, 2, 192), black, purple, rgb(255, 145, 0), rgb(0, 38, 255), black,  rgb(0, 203, 253), rgb(255, 0, 0), black, rgb(255, 123, 0));
    background-size: 400% 400%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 1%;
}

.righties .top a{
    display: flex;
    gap: 30px;
}

.righties .cont{
    width: 96%;
    padding: 0 2%;
}
/*.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    width: calc(100% - 570px); /* Leave space for the sidebar and recent transactions 
    z-index: 1;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar input {
    padding: 5px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.top-bar i {
    font-size: 1.5em;
    margin-left: 20px;
}*/

h1 {
    margin-top: 60px; /* Leave space for the fixed top-bar */
    color: #333;
}

.notification {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balances {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.balance {
    animation: gradientAnimation 20s infinite;
    background: linear-gradient(45deg,  black, rgb(138, 2, 192), black, purple, rgb(255, 145, 0), rgb(0, 38, 255), black,  rgb(0, 203, 253), rgb(255, 0, 0), black, rgb(255, 123, 0));
    background-size: 400% 400%;
    padding: 15px;
    border-radius: 5px;
    width: 28%;
    gap: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/*.transactions {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: fixed;
    right: 20px;
    top: 20px;
    height: calc(100vh - 40px); /* Full height minus some padding 
    overflow-y: auto; /* Scroll if the content exceeds the height 
}*/